* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  width: 100%;
}

body {
  font-family: "Roboto";
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.notify-app {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.notify-app__note-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.notify-app__note-list h5 {
  font-size: 1.5rem;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo p {
  font-weight: 700;
  color: #33322e;
  font-size: 2.25rem;
  line-height: normal;
}

.search-bar {
  display: flex;
  width: 21.25rem;
  height: 3.125rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  align-items: center;
  gap: 14.125rem;
  flex-shrink: 0;
  border: 1px solid var(--Black, #33322e);
  border-radius: 1.5rem;
}

.note-input {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.note-input__header {
  display: flex;
  justify-content: space-between;
}

.note-input__header h5 {
  font-size: 1.5rem;
}

.note-input__header p {
  font-size: 1.125rem;
}
.note-input__judul {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--Black, #33322e);
}

.note-input__isi {
  display: flex;
  font-size: 1rem;
  font-family: Roboto;
  height: 13.5rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--Black, #33322e);
}

.note-input button {
  display: flex;
  padding: 8px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background: #F6A89E;
  box-shadow: 12px 12px 0px 0px #33322e;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.note-input button:hover {
  background: #E07163; 
  color: white; 
}

.note-item {
  display: flex;
  padding: 1rem;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1.5rem;
  border: 4px solid var(--Black, #33322e);
  background: var(--Yellow---Light, #f9f3e5);
  box-shadow: 12px 12px 0px 0px #33322e;
}

.note-item__archieve {
  display: flex;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.note-item__archieve p {
  font-weight: 700;
  font-size: 0.9rem;
}

.note-item__delete p {
  font-weight: 700;
  font-size: 0.9rem;
}

.note-item__delete {
  display: flex;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.note-item-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
  align-self: stretch;
}

.note-item-body h4 {
  align-self: stretch;
  font-size: 1.1rem;
  font-weight: 700;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.note-item-body .body-text {
  flex: 1 0 0;
  align-items: flex-start;
  max-height: 250px;
  flex-wrap: wrap;
  align-self: stretch;
  font-size: 0.9rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.notify-app__note-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}
